* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.header__logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px
}

.top__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.top__text {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 200px;
}

.icon {
    margin-right: 10px; 
}

.text {
    display: flex;
    flex-direction: column;
}

.brand {
    font-size: 50px;
    font-weight: bold; 
}

.additional {
    font-size: 30px;
}

.fashion {
    color: #F16D7F;
}

.what__is {
    margin-bottom: 80px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.information {
    position: relative;
    text-align: center;
}

.information h2,
.information h3 {
    position: absolute;
    margin: 0;
    width: 100%;
    text-align: center;
}

.information h3 {
    top: 50%; 
    transform: translateY(-50%); 
}

.information h2 {
    top: 50%; 
    transform: translateY(50%); 
}

.img__information {
    filter: brightness(0.4);
}

.img4 {
    margin-top: 30px
}

.information__text{
    color: white;
    font-weight: 200;
}

.information__text2 {
    color: #F16D7F;
}

.range {
    padding-bottom: 50px;
}

.header__range {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-weight: 500;
    margin-bottom: 10px;
}

.header__range__text {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 40px;
}

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row
}

.banner {
    margin-bottom: 40px;
}

.banner__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_img2 {
    margin-left: 25%;
}

.banner__text {
    width: 350px;
    margin-bottom: 20px;
    font-weight: 200;
}

.price {
    color: #F16D7F;
    font-weight: 400;
}

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.what__is_button {
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid red; 
    color: red;
    padding: 10px 20px; 
}

@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top__info {
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .top__img {
        width: 560px;
    }

    .top__text {
        width: 288px;
    }

    .brand {
        font-size: 40px;
    }

    .additional {
        font-size: 22px;
    }

    .img__information {
        width: 240px
    }

    .img4 {
        width: 750px
    }
} 

@media (max-width: 768px) {
    
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
        }
    
    .top__info {
        width: 768px;
    }

    .top__img {
        width: 450px;
    }

    .top__text {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-right: 120px;
    }

    .brand {
        font-size: 30px;
    }

    .additional {
        font-size: 24px;
    }

}

@media (max-width: 320px) {

    .center {
        padding-left: calc(50% - 152px);
        padding-right: calc(50% - 152px);
        }

    .top__img {
        display: none;
    }

    .basket {
        display: none;
    }

    .top__info {
        width: 304px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px;
    }

    .top__text {
        width: 310px;
    }

    .brand {
        font-size: 30px;
        width: 304px
    }

    .additional {
        font-size: 20px;
    }



    .img__information {
        width: 304px;
    }
    

    .header {
        background-color: #222222;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 320px;
        padding-right: 50px;
    }

    .basket1 {
        padding-right: 20px;
    }

    .what__is center {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        }

    .range {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    
    .header__range {
        display: flex;
        margin-left: 20px;
    }

    .button {
        display: flex;
        margin-left: 80px;
    }

    .range {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .banner {
        width: 300px;
    }

    .banner_img {
        width: 304px;
    }

    .banner_img2 {
        width: 150px;
    }

    .banner__text {
        width: 310px;
    }
}